<div class="card border-info mx-auto mb-3 text-warning mt-5" style="max-width: 28rem;">
        <h4 class="card-header text-info text-center"><%= user.email %></h4>
        <div class="card-body text-info">
        <h5 class="card-title text-center"><%= user.role %></h5>
        <p class="card-text"></p>
        </div>
        <div class="card-footer d-flex justify-content-evenly ">
            <button type="button" class="btn btn-info btn-lg">
                <%= link_to "Edit", edit_user_path(user), class:  "btn btn-info" %>
            </button>

            <button type="button" class="btn btn-info btn-lg">
                <%= link_to "Back to Traders", users_path, class:  "btn btn-info" %>
            </button>
        </div>
</div>