/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.card-effects:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: coral;
    color: black;
}

.card-effects-gold:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: #FFFFE0;
    color: black;
}

.scroll::-webkit-scrollbar {
    width: 9px;    
    height: 9px;           /* width of the entire scrollbar */
}
.scroll::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}
.scroll::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

@media screen and (min-width: 992px) { 
    .responsive-stock-index{ width: 45rem;} 
    .responsive-stocks{ 
        min-height: 20rem; 
        max-height: 35rem;
    }
    
    .responsive-stock-show{ 
        width: 32rem; 
        min-height: 30rem; 
        max-height: 35rem;
    } 

    .responsive-portfolio-index{ 
        width: 152rem; 
        height: 53rem;
    } 

    .responsive-portfolio-show{ 
        width: 32rem;
    } 
    
    .responsive-transactions-index{ 
        width: 45% !important; 
    } 

    .responsive-transactions-show{ 
        width: 25% !important;  
    } 

    .responsive-users{ 
        width: 25% !important; 
    } 

    .responsive-request{ 
        width: 35% !important; 
    }

 }

@media screen and (max-width: 576px) { 
    .responsive-stock-index{ 
        width: 94vw;
    }
    .responsive-stocks{ 
        min-height: 16rem;
        max-height: 30rem;
    }

    .responsive-stock-show{ 
        width: 94vw; 
        min-height: 25rem; 
        max-height: 32rem;
    } 

    .responsive-portfolio-index{ 
        width: 94vw; 
        height: 53rem;
    }

    .responsive-transactions-index{ 
        width: 94%; 
    } 

    .responsive-transactions-show{ 
        width: 94vw; 
    } 

    .responsive-users{ 
        width: 94vw; 
    } 

    .responsive-request{ 
        width: 94vw; 
    }
}